* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100dvh;
  padding: 0 15% 0 15%;
}
ul {
  color: white;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
  padding-left: 30px;
}

/* Side Bar Section  */
img {
  height: 50px;
  width: 50px;
}

.side-bar {
  display: grid;
  background-color: #2392d4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 7fr;
}
.logo {
  
  display: flex;
  padding-left: 30px;
  align-items: center;
  font-weight: 900;
 
}
.dText {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.menu-list > li {
  padding: 10px 0 0 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.menu-list {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
}
.settings {
  margin-top: 100px;
}
.settings-list > li {
  padding: 0 0 0 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

/* end Side Bar Section  */

.main-box {
  border: 2px black solid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr;
}
/* header section */
.header {
  background-color: white;
  display: grid;
  grid-template-areas:
    "box1 box1 box2"
    "box3 box3 box4";
}
.search-box{
  padding: 20px 0 0 30px;
  
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.search-bar {
  width: 600px;
  height: 40px;
  border-radius: 10px;
  padding: 5px 5px 5px 5px;
}
.profile {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 50px;
  padding: 20px 6% 0 0;
}
.profileName{
  font-weight: 900;
  font-size: 2rem;
}
.user {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 20px;
}
.user-para1{
  font-size: 1rem;

}
.user-para2{
  font-size: 1.5rem;

}
.fbutton {
  display: flex;
  gap: 50px;
  padding: 5px 20px 5px 20px;
  align-items: center;
}

.fbutton > button{
  background-color: #2392d4;
  height: 40px;
  width: 150px;
  border-radius: 20px;
  border: none;

}
/* end header section */
/* main-conatent */
.main-content {
  background-color: rgb(226, 225, 225);
  display: grid;
  grid-template-areas:
    "box1 box1 box2 "
    "box1 box1 box3 ";
}

.project {
  border: 2px solid black;
  padding: 30px 50px 50px 20px;
}
.project > p{
  font-size: 2rem;
}
.projectBox{
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-rows: repeat(3, minmax(250px, 1fr));
  
  gap: 50px;
  padding-top: 30px;
}
.projectBox > div{
  background-color: white;
  border-radius: 10px;
  border-left: #f0b429 solid 15px ;
  font-size: 1.5rem;
  text-align: justify;
  padding: 30px 20px 20px 20px;
}
.announcement {
  border: 2px solid black;
  padding: 30px 50px 50px 20px;
}
.announcement > p{
  font-size: 2rem;
}

.tranding {
  border: 2px solid black;
  padding: 30px 50px 50px 20px;
}

.tranding > p{
  font-size: 2rem;
}
